
<div class="summary-container">


    <ul class="summary">
        <li>
            <h6>Balance</h6>
            <p>$80,233</p>
        </li>
        <li>
            <h6>Balance (TRY)</h6>
            <p>₺390,233</p>
        </li>
        <li>
            <h6>Change</h6>
            <p class="text-green">%12,2</p>
        </li>
        <li>
            <h6>Profit/Loss</h6>
            <p class="text-green">$8,453</p>
        </li>
        <li>
            <h6>Profit/Loss (TRY)</h6>
            <p class="text-green">₺90,453</p>
        </li>
    </ul>
    
    <ul class="fiat-currencies">
        <li>
            $ USD
            <span>7.54</span>
        </li>
        <li>
            € EUR
            <span>8.98</span>
        </li>
    </ul>    

</div>
