
<div class="summary-container">

    <ul *ngIf="balance" class="summary">
        <li>
            <h6>Balance</h6>
            <p>
                <ng-container *ngIf="!masked">
                    <small class="currency">$</small>{{ balance.balance?.toFixed(2) || '-' }}
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </p>
        </li>
        <li>
            <h6>Change</h6>
            <p [class.text-green]="balance.isPositiveChange" [class.text-red]="balance.isNegativeChange">
                <ng-container *ngIf="!masked">
                    {{ balance.change?.toFixed(2) || '-' }}%
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </p>
        </li>
        <li>
            <h6>Profit/Loss</h6>
            <p [class.text-green]="balance.isPositiveChange" [class.text-red]="balance.isNegativeChange">
                <ng-container *ngIf="!masked">
                    <small class="currency">$</small>{{ balance.profitOrLoss?.toFixed(2) || '-' }}
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </p>
        </li>
    </ul>

    <ul class="fiat-currencies">
        <li>
            $ USD
            <span>8.14</span>
        </li>
        <li>
            € EUR
            <span>9.71</span>
        </li>
    </ul>

</div>
