<h2 class="h2">
    Portfolio
    <small>
        Last Updated:
        <ng-container *ngIf="lastUpdatedDate">
            {{ timeFromLastUpdated | async }} ({{ lastUpdatedDate.format('HH:mm') }})
        </ng-container>
        <ng-container *ngIf="!lastUpdatedDate">
            -
        </ng-container>
    </small>
</h2>

<table class="table-portfolio">
    <thead>
        <tr>
            <th class="sortable text-left" (click)="sort('coin.symbol')">
                Coin
                <img *ngIf="sorting.by === 'coin.symbol'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
            <th class="sortable" (click)="sort('assets')">
                Asset
                <img *ngIf="sorting.by === 'assets'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
            <th class="sortable" (click)="sort('avgUnitCost')">
                Unit Cost
                <img *ngIf="sorting.by === 'avgUnitCost'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
            <th>Last Price</th>
            <th>24h Change</th>
            <th class="sortable" (click)="sort('change')">
                Change
                <img *ngIf="sorting.by === 'change'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
            <th class="sortable" (click)="sort('profitOrLoss')">
                Profit/Loss
                <img *ngIf="sorting.by === 'profitOrLoss'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
            <th class="sortable" (click)="sort('holdings')">
                Holdings
                <img *ngIf="sorting.by === 'holdings'" [class.reverse]="!sorting.type" src="/assets/icons/down-arrow.svg" alt="">
            </th>
        </tr>
    </thead>
    <tbody *ngIf="portfolios">
        <tr *ngFor="let portfolio of portfolios">
            <td class="text-left">
                <a [href]="'https://www.binance.com/en/trade/' + portfolio.coin.symbol.toUpperCase() + '_USDT'"
                    class="crypto-info" target="_blank">
                    <img [src]="'/assets/crypto-icons/' + portfolio.coin.symbol + '.svg'" onerror="this.onerror=null;this.src='/assets/crypto-icons/default.png'" alt="">
                    <div>
                        <h6>{{ portfolio.coin.symbol }}</h6>
                        <small>{{ portfolio.coin.name }}</small>
                    </div>
                </a>
            </td>
            <td>
                <ng-container *ngIf="!masked">
                    {{ portfolio.assets }}
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </td>
            <td>
                <ng-container *ngIf="!masked">
                    <small class="currency">$</small>{{ portfolio.avgUnitCost }}
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </td>
            <td>
                <small *ngIf="!!prices" class="currency">$</small>{{ prices[portfolio.coin.symbol]?.price || '-' }}
                <span *ngIf="!prices">-</span>
            </td>
            <td>
                <span *ngIf="!!prices" [class.text-green]="prices[portfolio.coin.symbol]?.isPositiveChange" [class.text-red]="prices[portfolio.coin.symbol]?.isNegativeChange">
                    {{ prices[portfolio.coin.symbol]?.change24h.toFixed(2) || '-' }}%
                </span>
                <span *ngIf="!prices">-</span>
            </td>
            <td>
                <ng-container *ngIf="!masked">
                    <span [class.text-green]="portfolio.isPositiveChange" [class.text-red]="portfolio.isNegativeChange">
                        {{ portfolio.change?.toFixed(2) || '-' }}%
                    </span>
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </td>
            <td>
                <ng-container *ngIf="!masked">
                    <span [class.text-green]="portfolio.isPositiveChange" [class.text-red]="portfolio.isNegativeChange">
                        ${{ portfolio.profitOrLoss?.toFixed(2) || '-' }}
                    </span>
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </td>
            <td>
                <ng-container *ngIf="!masked">
                    <small class="currency">$</small>{{ portfolio.holdings?.toFixed(2) || '-' }}
                </ng-container>
                <ng-container *ngIf="masked">***</ng-container>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!portfolios">
        <tr>
            <td colspan="8" class="text-center">
                Loading...
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="portfolios && portfolios.length === 0">
        <tr>
            <td colspan="8" class="text-center">
                You have no asset. You can add a transaction from the right section. -->
            </td>
        </tr>
    </tbody>
</table>

<!-- <h2 class="h2">Archived</h2> -->
