@import 'variables';

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    font-family: $font-rubik;
    cursor: default;

    > span {
        font-size: 6rem;
        line-height: 6rem;
        margin-right: 8px;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
