<h2 class="h2">Portfolio</h2>

<table class="table-balance">
  <thead>
    <tr>
      <th class="text-left">Coin</th>
      <th>Asset</th>
      <th>Unit Cost</th>
      <th>Last Price</th>
      <th>24h Change</th>
      <th>Change</th>
      <th>Total</th>
      <th>Total (TRY)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left">
        <div class="crypto-info">
          <img src="/assets/crypto-icons/btc.svg" alt="">
          <div>
            <h6>BTC</h6>
            <small>Bitcoin</small>
          </div>
        </div>
      </td>
      <td>0.0012</td>
      <td>400,849.00</td>
      <td>419,849.00</td>
      <td class="text-green">%12.2</td>
      <td class="text-green">%12.2</td>
      <td class="text-green">$20</td>
      <td class="text-green">₺80</td>
    </tr>
    <tr>
      <td class="text-left">
        <div class="crypto-info">
          <img src="/assets/crypto-icons/ltc.svg" alt="">
          <div>
            <h6>LTC</h6>
            <small>Litecoin</small>
          </div>
        </div>
      </td>
      <td>0.0012</td>
      <td>20,849.00</td>
      <td>19,849.00</td>
      <td class="text-green">%1.2</td>
      <td class="text-red">-%4.2</td>
      <td class="text-red">-$20</td>
      <td class="text-red">-₺80</td>
    </tr>
  </tbody>
</table>

<h2 class="h2">Archived</h2>
