
// colors
$color-text: #f3f3f5;

// fonts
$font-alata: 'Alata', sans-serif;
$font-rubik: 'Rubik Mono One', sans-serif;

// flex
@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
