
.app-container {
    background: rgb(62, 56, 82);
    background: linear-gradient(to left top, #111e40 0%, #3e3852 100%);

    .header {
        width: 100%;
        height: 120px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,.2);
    }

    .main-content {
        display: flex;

        .portfolio {
            width: calc(100% - 40px);
            max-width: calc(100% - 40px);
            height: calc(100vh - 120px);
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px 40px;
            transition: all .2s ease-in-out;
        }

        .transactions {
            position: relative;
            width: 40px;
            height: calc(100vh - 120px);
            background-color: rgba(0,0,0,.2);
            transition: all .2s ease-in-out;

            .vertical-bar {
                position: absolute;
                left: 0;
                right: 0;
                width: 40px;
                height: 100%;
                writing-mode: vertical-rl;
                line-height: 40px;
                text-align: center;
                color: rgba(255, 255, 255, 0.4);
                text-transform: uppercase;
                cursor: pointer;
                transition: all .2s ease-in-out;

                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                    background-color: rgba(255,255,255,.1);
                }

                img {
                    width: 10px;
                    transition: all .2s ease-in-out;
                    transform: rotate(90deg);
                }
            }

            .transactions-content {
                display: none;
            }
        }

        &.expand {

            .portfolio {
                width: 75%;
            }

            .transactions {
                flex: 25%;

                .vertical-bar img {
                    transform: rotate(-90deg);
                }

                .transactions-content {
                    padding: 20px;
                    padding-left: 60px;
                    display: block;
                }
            }
        }

    }

}
