<div class="app-container">
    <header class="header">
        <div class="header-brand">
            <app-brand></app-brand>
        </div>
        <div class="header-summary">
            <app-summary></app-summary>
        </div>
    </header>
    <section class="main-content" [class.expand]="expand">

        <section class="portfolio scrollbar">
            <app-portfolio></app-portfolio>
        </section>

        <section class="transactions">
            <div class="vertical-bar" (click)="expand = !expand">
                <img src="/assets/icons/down-arrow.svg" alt="">
                Transactions
                <img src="/assets/icons/down-arrow.svg" alt="">
            </div>
            <div class="transactions-content scrollbar">
                <app-transactions></app-transactions>
            </div>
        </section>

    </section>
</div>
