<div class="app-container">
    <header class="header">
        <div class="header-brand">
            <app-brand></app-brand>
        </div>
        <div class="header-summary">
            <app-summary></app-summary>
        </div>
    </header>
    <section class="main-content">

        <section class="portfolio">
            <app-portfolio></app-portfolio>
        </section>

        <section class="transactions">
            <app-transactions></app-transactions>
        </section>

    </section>
</div>
